.about__container{
    min-height: 95vh;
    width: 100%;
    position: relative;
    padding-top: 8vh;
}
.svg-about{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.about__me{
    display: flex;
    margin-top: 3%;
    flex-direction: column;
}
.about__image{
    flex: 0 1 42%;
    position: relative;
    overflow: hidden;
    img{
        display: block;
        width: 100%;
    }
}
.about__me-description{
    flex: 1 0 58%;
}
.separador{
    border-bottom: solid 5px $secondary;
    width: 12%;
    margin: auto auto;
    border-radius: 10px;
    margin-top: 10px;
}
.about__me-description{
    padding: 3vw;
    font-size: 1.2em;
    font-family: $secondary-font;
    color: white;
    p{
        margin-top: 10px;
        color:$white;
        font-size: .9em;
        text-align: justify;
    }
    .atributte{
        font-size: .8em;
    }
}
@include tablet{
    .about__me{
        flex-direction: row;
        justify-content: space-between;
    }
}
.svg-batman{
    position: absolute;
    display: block;
    top: 3vh;
    height: 25%;
    right: 3vw;
    color: #62633a81;
    z-index: -1;
}
.about__description{
    h3{
        color: white;
        font-family: $primary-font;
        font-size: 25px;
        text-align: center;
        text-transform: uppercase;
        margin-top: 10px;
    }
    p{
        text-align: center;
        color: $white;
        margin-top: 10px;
        width: 50%;
        margin: auto auto;
    }
}
.about__info{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .about__info-item{
        flex: 1 1 calc(50% - 5px);
        background: lighten($color: $primary, $amount: 10);
        padding: 10px;
        margin:2px;
        -webkit-box-shadow: -3px -3px 5px 0px $primary;
        -moz-box-shadow:    -3px -3px 5px 0px $primary;
        box-shadow:         -3px -3px 5px 0px $primary;
        span{
            color: lighten($color: $secondary, $amount: 15);
            font-size: 15px;
        }
        p{
            color: $white;
        }
    }
}
@media only screen and (max-width: #{$tablet}) {
    .about__description{
        p{
            width: 90%;
        }
    }
    .svg-batman{
        display: none;
        
    }
    
}