.banner__container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 90vh;
}
.banner__item{
    flex: 0 1 calc(50% - 10px);
    
}
.banner__image{
    order: -1;
}
.banner__item:nth-child(1){
    flex-basis: 50%;
}
.banner__social-buttons{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.btn-social{
    margin-top: 30%;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: solid 2px darken($color: $secondary, $amount: 2);
    i{
        display: inline-block;
        font-size: 25px;
    }
}
.banner__buttons{
    margin-top: 35px;
}
.banner__button{
    padding: 15px;
    background: darken($color: $secondary, $amount: 10);
}
.banner__button-whatsapp{
    padding: 15px;
    background: darken($color: $tertiary, $amount: 25);
    &:hover{
        background: darken($color: $tertiary, $amount: 35);
    }
}
.banner__description{

    p{
        color: $white;
        margin-top: 10px;
        width: 95%;
    }
}
.banner__title{
    color: white;
    font-family: $secondary-font;
    font-size: 55px;
}
.svg-container{
    position: absolute;
    z-index: -1;
    bottom: 0;
}
@media only screen and (max-width: #{$tablet}) {
    .btn-social{
        margin-top: 0;
        margin-right: 5px;
    }
    .banner__buttons{
        margin-top:10px;
    }
    .banner__title{
        font-size: 35px;
    }
    .banner__description{
        margin-top: 3px;
        h1{
            margin-top: 10px;
            font-size: 22px;
        }
        p{
            margin-top: 2px;
        }
    }
}
@include tablet{
    .banner__container{
        flex-direction: row;
        justify-content: space-between;
    }
    .banner__image{
        order: 2;
    }
}