.skills__container{
    background: darken($color: $primary, $amount: 8);
    min-height: 95vh;
    width: 100%;
    padding-top: 8vh;
    position: relative;

}
.carousel__item{
    display: inline-block;
    position: relative;
    overflow: hidden;
    .carousel__item-description{
        background: rgba(0, 0, 0, 0.712);
        color: $white;
        padding: 10px;
        position: absolute;
        bottom: -100%;
        width: 100%;
        text-align: center;
        font-family: $secondary-font;
        transition: all ease .3s;

    }
    &:hover{
        .carousel__item-description{
            bottom: 0;
            transition: all ease .3s;
        }
    }
}
.p{
    padding: 10px;
    width: 100%;
    display: inline-block;
}
.skills__me{
    position: relative;
    z-index: 10;
}
.svg-skills{
    position: absolute;
    bottom: 0;
    right: 0;
}
.text-white{
    color: white;
}