/*Colores*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@900&display=swap');

$primary:#1F2235;//#202335;
$secondary:#56AEEC;//#FF4A57; //#56AEEC
$tertiary:#C9FF4A;
$white:rgb(231, 226, 226);
$primary-font:'Open Sans', sans-serif;
$secondary-font:'Roboto', sans-serif;
//medidas
$telefono : 480px;
$tablet: 768px;
$desktop: 1024px;

